<html>
	<head>
		<title>Welcome to my site</title>
	</head>
	<body>
		<h1>Please choose one!</h1>
		
		<a href='/bulk'>For bulk converting</a>

		<a href='/iso'>For iso converting</a>
	</body>
</html>
