<html>
	<head>
		<title>BULK上传</title>
	</head>
	<body>
		<h1>点击下面按钮上传需要转换的Bulk文件</h1>
		<form  method="post" action="/bulk"   enctype="multipart/form-data">
 			<input type ="file" name ="file" />
			<input type="submit" value="提交" />
		</form>
	</body>
</html>