<html>
	<head>
		<title>ISO上传</title>
	</head>
	<body>
		<h1>点击下面按钮上传需要转换的ISO文件(请注意：如果iso原表带表头，请删除表头那行再导入)</h1>
		<form  method="post" action="/iso"   enctype="multipart/form-data">

			<input type ="file" name ="file" />
			<input type="submit" value="提交" />
		</form>
	</body>
</html>
